.footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}
.footer-element {
    color: white;
}
.footer .bold {
    font-size: 20px;
    margin-bottom: 25px;
}
.footer p {
    font-size: 18px;
    line-height: 50%;
}