.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8rem 5rem;
}
.container{
    display: flex;
   width: 80%;
   margin-top: 4.5rem;
 
}
@media screen and (max-width: 1075px) {
    .container{
        flex-wrap: wrap;
        gap: 4rem;
    }
    .main {
        padding:  4rem 5rem;
    }
}